/* 面包屑 */
.My_location{
    padding: 15px 0 5px 0;
    border-bottom: 1px solid #ccc;
}
.My_location>div{
    padding: 3px 12px;
    float: left;
}
.Location_bg{
    background-color:#888;
    position: relative;
}
.Location_bg>a{
    color: #fff;
}
.Location_bg::before,
.Location_bg::after{
    display: block;
    content: '';
    height:15px;
    width: 15px;
    position: absolute;
    transform: rotate(45deg);
}
.Location_bg::before{
    background-color: #fff;
    left: -7px;
}
.Location_bg::after{
    background-color: #888;
    top: 3px;
    right: -8px;
}
/* 面包屑 */
.MyAccount_main{
    margin-top: 10px;
}
/* 我的账户左侧列表 */
.MyAccount_left{
    float: left;
    width: 236px;
}
.Account_list{
    border: 1px solid #ccc;
}
.Account_list>li{
    line-height: 35px;
    text-indent: 20px;
    border-bottom: 1px dashed #ccc;
}
.Account_list>li:first-child{
    background-color: #f3f3f3;
    border: 0;
}
.Account_list>li:last-child{
    border: 0;
}
/* 我的账户左侧列表 */
/* 我的账户右侧列表 */
.MyAccount_right{
    width: 950px;
    float: right;
    padding-bottom: 30px;
}
.MyName{
    font-size: 14px;
    font-weight: 700;
    line-height: 40px;
}
.discount{
    width: 302px;
    margin-top: 10px;
    font-weight: 700;
    position: relative;
    padding-left: 60px;
    min-height: 37px;
    line-height: 37px;
    background:url(../../imgs/icon_coupons.gif) no-repeat 10px 5px;
    background-color: #f3f3f3;
}
.discount>span{
    display: block;
    width: 15px;
    height: 15px;
    line-height: 15px;
    color: #fff;
    background-color: rgb(227,0,0);
    border-radius: 50%;
    text-align: center;
    font-weight: 400;
    position: absolute;
    left:37px;
    top: 5px;
}
.aboutMe>div{
    margin-top: 20px;
}
.ServiceHelp,
.AddressDetails{
    float: left;
    width: 320px;
    border:1px solid #ccc;
    padding: 0 10px;
}
.ServiceHelp>ul,
.AddressDetails>ul{
    min-height: 178px;
}
.AddressDetails>ul>li{
    line-height: 24px;
}
.MyFavorites>li:first-child,
.ServiceHelps>li:first-child,
.MyOrdersUL>li:first-child,
.MyAddress>li:first-child,
.MyDetails>li:first-child{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 5px;
    line-height: 40px;
    text-indent: 30px;
    font-weight: 700;
    background: url(../../imgs/icon_personal.gif) no-repeat 0 12px;
}
.MyAddress{
    border-top: 1px solid #ccc;
}
.MyAddress>li:first-child{
    background: url(../../imgs/icon_address.gif) no-repeat 0 8px;
}
.addMore{
    float: right;
    font-weight: 400;
}
.addMore>a{
    margin-left: 10px;
}
.MyFavorite,
.MyOrders{
    float: right;
    border:1px solid #ccc;
    width: 570px;
    height: 357px;
    padding: 0 10px;
}
.MyOrdersUL>li:first-child{
    background: url(../../imgs/icon_orders.gif) no-repeat 0 10px;
}
.thisIsNull{    
    height: 300px;
    text-align: center;
    background: url(../../imgs/icon_orders_bg.gif) no-repeat center 30px;;
}
.thisIsNull>span{
    display: inline-block;
    margin-top: 250px;
}
.thisIsNull>span>a{
    text-decoration: underline;
}
.ServiceHelps{
    line-height: 24px;
}
.ServiceHelps>li:first-child{
    background: url(../../imgs/icon_service.gif) no-repeat 0 10px;
}

.ServiceHelps>ol{
    list-style: disc;
    padding-left: 20px;
}
.MyFavorite{
    height: 178px;
}
.MyFavorites>li:first-child{
    background: url(../../imgs/icon_favorites.gif) no-repeat 3px 11px;
}
.MyFavorites>li:first-child>a{
    float: right;
    font-weight: 400;
}
.MyFavoriteL{
    height: 131px;
    overflow: hidden;
}
.MyFavoriteL>div{
    float: left;
}
.MyFavoriteL>div>ol{
    height: 130px;
}
.MyFavoriteL>div>ol>li{
    width: 160px;
    text-align: center;
    float: left;
    margin-right: 10px;
}
.MyFavoriteL>div>ol>li>a:first-child{
    display: block;
    width: 100px;
    height: 100px;
    margin: 0 auto;
}
.MyFavoriteL>div>ol>li>a>img{
    max-width: 100px;
    max-height: 100px;
}
.MyFavoriteL>a{
    display: block;
    width: 18px;
    height: 72px;
    margin-top: 30px;
}
.MyFavoriteL>a:first-child{
    float: left;
    background: url(../../imgs/btn_left.gif) no-repeat center;
}
.MyFavoriteL>a:last-child{
    float: right;
    background: url(../../imgs/btn_right.gif) no-repeat center;
}
.MyReviews{
    width: 928px;
    padding: 0 10px;
    border: 1px solid #ccc;
    float: left;
    min-height: 120px;
}
.MyReviews_lis>li:first-child{
    border-bottom: 1px dashed #ccc;
    margin-bottom: 5px;
    line-height: 40px;
    text-indent: 30px;
    font-weight: 700;
    background: url(../../imgs/icon_personal.gif) no-repeat 0 12px;
}
/* 我的账户右侧列表 */
