
/*���岿��*/
.cart-location{
    border-bottom: 1px solid #ccc;
    width: 1180px;
    margin-top: 10px;
}
.cart-location>div{
    width: 540px;
    height: 34px;
    margin-right: -20px;
    float:right;
    background: url(../../imgs/shopping_cart_step.png) no-repeat ;
}
.cart-CP{
    margin: 20px 0;
}
.cart-CP_left{
    float: left;
}


.cart-CP_right{
    float: right;
    width: 202px;
    height: 33px;
    background: url(../../imgs/buttons.png) no-repeat;
}
.cart-CP_right>a{
    display: block;
    width: 202px;
    height: 33px;
}
.cart-CP_right:hover{
    background:url(../../imgs/buttons.png) no-repeat 0 -39px ;
    border-radius: 3px;
}
/*���ﳵ�б�*/
.cart-IPQA{
    border: 1px solid #ccc;
}
.cart-IPQA_topbar{
    height: 38px;
    background: url(../../imgs/r_con_table_th_bg.png) repeat-x;
    border-bottom: 1px solid #ccc;
}
.cart-IPQA_ul>li{
    float: left;
    font-size: 14px;
    padding:12px 15px;
    color: #990000;
    zoom: 1;
}
.cart-IPQA_ul>li:nth-child(1){
    width: 8px;
    height: 8px;
}
.cart-IPQA_ul>li:nth-child(2){
    width: 500px;
}
.cart-IPQA_ul>li:nth-child(3),
.cart-IPQA_ul>li:nth-child(5){
    width: 190px;
}
.cart-IPQA_ul>li:nth-child(4){
    width: 160px;
}
.cart-IPQA_lists>li{
    float: left;
    font-size: 14px;
    padding:20px 15px;
    zoom: 1;
}
.cart-IPQA_lists>li:nth-child(1){
    width: 8px;
    height: 8px;
}
.cart-IPQA_lists>li:nth-child(2){
    width: 500px;
}
.cart-IPQA_lists>li:nth-child(3),
.cart-IPQA_lists>li:nth-child(5){
    width: 190px;
}
.cart-IPQA_lists>li:nth-child(4){
    width: 160px;
}
.cart-IPQA_lists_l{
    float: left;
    width: 80px;
    height: 80px;
    border: 1px solid #ccc;
}
.cart-IPQA_lists_l>a>img{
    max-width: 80px;
    max-height: 80px;
}
.cart-IPQA_lists_r{
    float: left;
    margin-left: 20px;
    width: 340px;
    font-size: 12px;
    line-height: 20px;
}
.cart-IPQA_lists_r>a{
    text-decoration: underline;
}
.cart-IPQA_lists_r>p{
    margin: 5px 0;
}
.cart-IPQA_lists_r>div{
    height: 32px;
    border: 1px dashed #dbebfe;
    line-height: 32px;padding-left: 10px;
    margin-bottom: 10px;
}
.cart-IPQA_lists_r>div>a{
    display: block;
    float: right;
    height: 34px;
    color: #fff;
    padding: 0 3px;
    margin: -1px -1px 0 0;
    background-color: #dbebfe;
}
.cart-IPQA_lists_r>div:hover{
    border-color: #900;
}
.cart-IPQA_lists_r>div:hover>a{
    background-color: #900;
}
.cart-IPQA_lists_r>span>input{
    width: 252px;
    font-size: 14px;
    outline: none;
}
.cart-IPQA_lists>li:nth-child(4)>img{
    vertical-align:text-top;
    margin-top: -4px;
    cursor: pointer;
}
.cart-IPQA_lists>li:nth-child(4)>input{
    width: 50px;
    margin: 0 10px;
    font-size: 15px;
    outline: none;
    text-align: center;
}
.cart-IPQA_lists>li:last-child>p{
    font-size: 16px;
    color: #c80201;
    line-height: 25px;
}
.cart-IPQA_lists>li:last-child>a{
    background:url(../../imgs/del.png) no-repeat;
    padding: 0 0 3px 20px;
    font-size: 12px;
}
/*���ﳵ�б�*/
/*cartfooter*/
.cart-footer{
    margin-top: 20px;
}
.cart-footer_l{
    float: left;
}
.cart-footer_r{
    float: right;
}
.cart-CP_left>button,
.cart-footer_lb{
    padding: 7px 10px;
    border-radius: 3px;
    background-color: #fff9a0;
    border: 1px solid #d0af76;
}
.cart-CP_left>button>a,
.cart-footer_lb>a{
    color: #963;
}
.cart-CP_left>button:hover,
.cart-footer_lb:hover{
    background-color: #fff8de;
    border-color: #bf903d;
}
.cart-CP_left>button:hover>a,
.cart-footer_lb:hover>a{
    color: #80000A;
}
.cart-footer_r{
    float: right;
}
.cart-footer_r>div{
    overflow: hidden;
    height: 33px;
    float: left;
    line-height: 33px;
    margin-left: 20px;
}
.cart-footer_r>div:first-child{
    width: 155px;
    border-radius: 5px;
}
.cart-footer_r>div:first-child:hover>a>img{
    margin-top: -38px;
    box-shadow: 1px 1px 1px 1px #ccc;
}
.cart-footer_r>div:last-child{
    height: 32px;
    width: 201px;
    border-radius: 3px;
}
.cart-footer_r>div:last-child:hover>a>img{
    margin-top: -40px;
    box-shadow: 1px 1px 1px 1px #ccc;
}
/*cartfooter*/
/*Your Recent History*/
.cart-History{
    border: 1px solid #ccc;
    margin: 80px 0 30px 0;
}
.cart-History>div{
    height: 38px;
    background: url(../../imgs/r_con_table_th_bg.png) repeat-x;
    border-bottom: 1px solid #ccc;
    color: #990000;
    line-height: 38px;
    font-size: 16px;
    padding-left: 10px;
}
.cart-History>ul{
    padding-left:30px;
}
.cart-History>ul>li{
    width: 140px;
    height: 184px;
    border: 1px solid #eee;
    text-align: center;
    float: left;
    margin:20px 23px 20px 0;
    transition: all 0.5s;
}
.cart-History>ul>li>a:last-child{
    display: block;
    padding: 0 10px;
    text-align: left;
}
.cart-History>ul>li>a>img{
    max-height: 140px;
}
.cart-History>ul>li:hover{
    border-color: #ccc;
    box-shadow: 0 3px 3px 3px #ccc;
    transform:translateY(-10px);
}
/*Your Recent History*/
.cart-IPQA_gather{
    height: 50px;
    background-color: #eee;
    font-size: 18px;
    line-height: 50px;
}
.cart-IPQA_gather>span:last-child{
    font-size: 25px;
    color: #c70000;
    margin: 0 150px 0 20px;
}
/*���岿��*/