
body, h1, h2, h3, h4, h5, h6, hr, p, blockquote, dl, dt, dd, ul, ol, li, pre, form, fieldset, legend, button, input, textarea, th, td { margin:0; padding:0; } 
body, button, input, select, textarea { font:12px Verdana; }
h1, h2, h3, h4, h5, h6{ font-size:100%; }
small{ font-size:12px; } 
ul,ol { list-style:none;} 
a { text-decoration:none; color:#000;} 
a:hover { text-decoration:underline;color: #9ABE14; }
fieldset, img { border:0; }

/* 版心 */
.w{
    width: 1200px;
    margin:0 auto;
}
/* 版心 */
.clearfix::after {
    content: ".";
    clear: both;
    display: block;
    overflow: hidden;
    font-size: 0;
    height: 0;
}
.clearfix {
    zoom: 1;
}


/*模态框Sign In*/
.Submenu{
  display: block;
}
.sign_in{
  display: none;
  width:100%;
  height: 100%;
  border: 0;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
}
.sign_in_bg{
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}
.loging_in{
  padding: 20px;
  width: 400px;
  background-color: #fff;
  border-radius: 10px;
  position: absolute;
  top: 20%;
  left: 50%;
  margin-left: -162px;
}
.loging_in_bar{
  border-bottom: 1px solid #ccc;
  font-size: 16px;
  line-height: 30px;
}
.loging_in_bar>a{
  display: inline-block;
  width: 20px;
  height: 20px;
  margin-left: 290px;
}
.loging_in_bar>a::before,
.loging_in_bar>a::after{
  display: block;
  width: 4px;
  height: 20px;
  background-color: #ccc;
  content:'';
  margin-left: 8px;
  transform: rotateZ(45deg);
}.loging_in_bar>a::after{
   margin:-20px 0 0 8px;
   transform: rotateZ(-45deg);
}
.loging_in_bar>a:hover::before,
.loging_in_bar>a:hover::after{
  background-color: #888;
}
.sign_warn{
  display: none;
  padding: 10px;
  margin: 10px 0;
  border: 1px #ffdb83 solid;
  background: #fff9e1;
  color: #f00;
}
.loging_in>ul>li{
  margin-top: 10px;
  font-size: 14px;
}
.loging_in>ul>li>input{
  width: 100%;
  height: 38px;
  border-radius: 5px;
  border:1px solid #ccc;
  outline: none;
  font-size: 16px;
  text-indent: 10px;
}
.FYPW{
  text-decoration: underline;
}
.loging_in>ul>li:nth-child(4){
  font-size: 12px;
}
.loging_in>ul>li:nth-child(4)>input{
  width: 13px;
  height: 13px;
  margin-right: 10px;
}
.loging_in>ul>li:nth-child(4)>span{
  margin-left: 22px;
  line-height: 20px;
  color:#888;
}
.loging_in_denglu{
  margin-top: 10px;
}
.loging_in_denglu>input{
  padding: 0 15px;
  height: 32px;
  border:0;
  color: #fff;
  background-color: #9ABE14;
  border-radius: 5px;
  margin-right: 15px;
}
.loging_in_denglu>button{
  /*padding: 0 15px;*/
  width: 100px;
  height: 30px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
}
.loging_in_denglu>button>a{
  display: block;
}
/*模态框Sign In*/



.top-bar {
  font-size: 13px;
  height: 34px;
  background-color: #f6f6f6;
  border-bottom: 1px solid #e8e8e8;
}
.test {
  float: left;
}
.test > div {
  float: left;
  font-size: 13px;
  padding-top: 3px;
}
.test > div:first-child > i {
  font-size: 30px;
  color: #bbb;
  margin-right: 10px;
}
.test > div:last-child {
  padding-top: 8px;
}
.loging {
  float: right;
}
.sign-in > div:first-child {
  float: left;
}
.sign-in > div:first-child > i {
  font-size: 20px;
  line-height: 33px;
  color: #bbb;
}
.sign-in > div:first-child > a {
  color: #9ABE14;
}
.sign-in > div:first-child > a:last-child {
  padding-right: 10px;
  border-right: 1px solid #ccc;
}
.sign-in > div:last-child {
  line-height: 31px;
  float: left;
  padding: 0 72px 0 10px;
  position: relative;
}
.sign-in > div:last-child > ul {
  width: 49px;
  border: 1px solid rgba(0, 0, 0, 0);
  height: 30px;
  padding: 0 10px;
  border-radius: 5px;
  position: absolute;
  top: 5px;
  right: 0;
  overflow: hidden;
  z-index: 20;
}
.sign-in > div:last-child > ul > li {
  line-height: 20px;
}
.sign-in > div:last-child > ul > li:first-child {
  line-height: 25px;
}
.sign-in > div:last-child > ul > li:first-child > a {
  color: #9ABE14;
}
#currency:hover > ul {
  height: 100%;
  background-color: #fff;
  border-color: #ccc;
  overflow: visible;
  height: 700%;
}
.logo {
  height: 46px;
  padding: 20px 0;
}
.logos {
  float: left;
}
.shopping {
  float: right;
}
.search {
  float: left;
  overflow: hidden;
}
.search > input {
  width: 394px;
  height: 26px;
  padding: 8px;
  line-height: 0;
  margin-top: -1px;
  border: 1px solid #ccc;
  outline: none;
}
.search > button {
  line-height: 28px;
  width: 46px;
  border: 3px solid #9ABE14;
  padding: 5px;
  background-color: #9ABE14;
  color: #fff;
  margin: -4px 0 0 -5px;
  cursor: pointer;
}
.search > button > i {
  font-size: 24px;
}
.shop-cart {
  float: left;
  width: 147px;
  font-size: 20px;
  text-align: center;
  position: relative;
  margin-left: 20px;
}
.zhegaiceng {
  display: block;
  width: 100%;
  height: 100%;
  padding: 12px 0 5px 0;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: #fff;
  position: relative;
  z-index: 19;
  cursor: pointer;
}
.zhegaiceng:hover{
  text-decoration: none;
  color: #000;
}
.zhegaiceng .icon-gouwuchekong {
  font-size: 30px;
  margin-right: 10px;
}
.shop-cart > span {
  width: 20px;
  height: 20px;
  border-radius: 50%;
  font-size: 14px;
  text-align: center;
  color: #fff;
  background-color: orange;
  position: absolute;
  top: 4px;
  left: 40px;
  z-index: 19;
}
.shop-content {
  display: none;
  line-height: 90px;
  font-size: 15px;
  position: absolute;
  top: 50px;
  left: -223px;
  width: 370px;
  height: 94px;
  border: 1px solid #aaa;
  z-index: 18;
}
.shop-cart:hover .zhegaiceng {
  border-color: #ccc #ccc transparent #ccc;
}
.shop-cart:hover .zhegaiceng > span {
  color: #FE8A27;
}
.shop-cart:hover .shop-content {
  display: block;
  background-color: #fff;
}
.nav-bar {
  height: 42px;
  background-color: #005ab0;
}

.Categories {
  width: 236px;
  height: 42px;
  line-height: 42px;
  text-indent: 25px;
  font-size: 15px;
  float: left;
  position: relative;
  cursor: pointer;
  background-color: #063f74;
  z-index: 98;

}
.Categories>a{
  display: block;
  width: 236px;
  height: 42px;
  color: #fff;
  position: relative;
  z-index: 99;

  background-color: #063f74;
}
.Categories>a:hover{
  text-decoration: none;
}
.Categories > span {
  border-radius: 50%;
  width: 20px;
  height: 20px;
  position: absolute;
  top: 11px;
  right: 14px;
  text-align: center;
  background-color: #dadada;
}
.Categories > span > i {
  display: block;
  position: absolute;
  left: -23px;
  top: -9px;
  color: #000;
}
.Submenu {
  display: none;
  font-size: 13px;
  border: 1px solid #ccc;
  padding-bottom: 10px;
  background-color: #fff;
}
.Submenus {
  display: none;
  width: 725px;
  height: 510px;
  background-color: #fff;
  border: 1px solid #ccc;
  position: absolute;
  left: 236px;
  top: 43px;
  z-index: 800;
  cursor: default;
}

.Submenus_list>li{
  float: left;
  width: 208px;
  height: 150px;
  margin-left: 24px;
}
.Submenus_list>li>p:first-child{
  padding:10px 0;
  font-weight: 700;
}
.Submenus_list>li>p{
  line-height: 20px;
}
.Submenu > ol > li {
  text-indent: 0;
  padding: 0 15px;
  text-align: left;
  z-index: 17;
  background-color: #fff;
}
.Submenu > ol > li:hover{
  background-color: #eee;
}
.Submenu > ol > li > a {
  height: 41px;
  border-bottom: 1px solid #ccc;
  display: block;
  margin-bottom: -1px;
}
.Submenu > ol > li > a > span {
  float: left;
}
.Submenu > ol > li > a > i {
  float: right;
}
.Submenu > ol > li:last-child > a {
  border: 0;
}
.Submenu > ol > li::after {
  content: ".";
  clear: both;
  display: block;
  overflow: hidden;
  font-size: 0;
  height: 0;
}
.Categories:hover .Submenu {
  display: block;
}
.nav-bars {
  line-height: 42px;
  float: left;
}
.nav-bars > li {
  float: left;
  border-right: 1px solid #00468d;
  border-left: 1px solid #2f7ac9;
}
.nav-bars > li > a {
  display: block;
  padding: 0 30px;
  color: #fff;
}
.nav-bars > li > a:hover {
  text-decoration: none;
}
.nav-bars > li:nth-child(7) {
  position: relative;
}
.cell-phone {
  display: none;
  width: 361px;
  border: 1px solid #ccc;
  background-color: #fff;
  position: absolute;
  top: 42px;
  left: 0;
  z-index: 10;
  overflow: hidden;
}
.cell-phone > ul {
  padding: 10px;
  float: left;
  font-size: 13px;
}
.cell-phone > ul > li {
  line-height: 25px;
}
.cell-phone > ul:first-child {
  width: 160px;
  border-right: 1px solid #ccc;
}
.cell-phone-f:hover .cell-phone {
  display: block;
}
.nav-bars > li:last-child {
  height: 42px;
  padding: 0;
  border-left: 1px solid #2f7ac9;
  border-right: 0;
}
.nav-bars > li:hover {
  background-color: #004d93;
}
.locations {
  height: 40px;
}
.nav-locations > li {
  float: left;
  font-size: 12px;
  line-height: 40px;
}
.footer {
  background-color: #eee;
  border-top: 1px solid #ccc;
}
.mosf {
  width: 100%;
}
.mosf > ul {
  height: 174px;
  border-bottom: 1px solid #ccc;
  padding: 20px 0;
}
.mosf > ul > li {
  height: 100%;
  width: 232px;
  float: left;
  font-weight: 700;
  font-size: 15px;
  padding: 0 20px;
  border-right: 1px solid #ccc;
}
.mosf > ul > li > ol > li {
  font-weight: 400;
  font-size: 12px;
  line-height: 30px;
}
.mosf > ul > li > ol > li > input {
  width: 284px;
  height: 30px;
  margin: 13px 0;
  outline: none;
}
.mosf > ul > li > ol > li > button {
  width: 106px;
  height: 32px;
  border-radius: 5px;
  background-color: #9ABE14;
  border: 0;
  color: #fff;
  font-size: 15px;
  cursor: pointer;
}
.mosf > ul > li:nth-child(3) {
  width: 340px;
}
.mosf > ul > li:last-child {
  border: 0;
}
.follow {
  padding: 30px 0;
  text-align: center;
}
.follow > ul > li {
  line-height: 30px;
  font-size: 13px;
}
.follow > ul > li:first-child {
  font-weight: 700;
  font-size: 15px;
}
.follow > ul > li:nth-child(2) > a {
  padding: 0 15px;
  border-right: 1px solid #888;
}
.follow > ul > li:nth-child(2) > a:last-child {
  border: 0;
}
.follow > ul > li:nth-child(3) {
  margin: 10px 0;
}
.follow > ul > li:nth-child(3) > a {
  margin: 15px;
}






