
.nav-bee {
  height: 55px;
  line-height: 55px;
}
.fs {
  font-size: 18px;
  float: left;
  font-weight: 700;
}
.DUP {
  float: right;
  font-size: 12px;
}
.DUP > a {
  margin-left: 40px;
}
.DUP > a:hover{
  text-decoration: none;
}
.DUPAc{
  color: #e89106;
}
.DUPAc:hover {
  text-decoration: none;
  color: #e89106;
}
/* Top Buyer's Choice */
 .title_h3{
  font-size: 22px;
  line-height: 60px;
  margin-bottom: 5px;
  color:#666;
}
/* 左側商品 */
.sales_big{
  border:1px solid #ccc;
  float: left;
  width: 388px;
  height: 388px;
}
.sales_big_top{
  display: block;
  width: 388px;
  height: 275px;
  text-align: center;
}

.sales_big_top>img{
  max-height: 275px;
}
.sales_big_content{
  padding:0 15px;
  font-size: 16px;
  line-height: 22px;
}
.sales_big_content>div>span{
  display: block;
  font-size: 12px;
  margin-top: 5px;
  float: left;
  line-height: 16px;
}
.sales_big_content>div>span:first-child{
  font-size:25px;
  color:#e65306;
  padding-top: 10px;
  font-weight: bold;
}
.sales_big_content>div>span:nth-child(2){
  padding: 0 30px 0 80px;
  border-right: 1px dashed #ccc;
}
.sales_big_content>div>span:last-child{
  padding-left: 20px;
}
.sold{
  font-size: 13px;
}
.sold>strong{
  color: #e65306;
  margin-left: 5px;
}
.zhekou_one_par{
  position: relative;
}
.zhekou_one{
  width: 52px;
  height: 57px;
  background: url(../imgs/seckill.png) no-repeat;
  position: absolute;
  top: -378px;
  right: -15px;
  color:#fff;
  line-height: 45px;
  font-size: 26px;text-align: left;
  padding-left: 5px;
}
/* 左側商品 */
/* 右側商品 */
.title-TH-sales>ul>li{
  border:1px solid #ccc;
  float: left;
  width: 388px;
  height: 188px;
  margin: 0 0 10px 15px;
}
.title-TH-sales>ul>li>a{
  display: block;
  width: 188px;
  height: 188px;
  line-height: 300px;
  position: relative;
  float: left;
  text-align: center;
}
.title-TH-sales>ul>li>a>img{
  width: 188px;
}
.zhekou{
  width: 57px;
  height: 57px;
  text-align: left;
  padding-left: 5px;
  background:url(../imgs/seckill.png) no-repeat;
  position: absolute;
  line-height: 35px;
  font-size: 26px;
  color:#fff;
  top: 0;
  right:0;
}
.title-TH-sales>ul>li>div{
  float: left;
  font-size: 12px;
  line-height: 20px;
  width: 186px;
  height: 85px;
  padding: 10px 10px 0 2px;
}
.title-TH-sales>ul>li>div>a{
  font-size: 14px;
}
.title-TH-sales>ul>li>div>span{
  display: block;
  float: left;
}
.title-TH-sales>ul>li>div>span:first-child{
  font-size: 16px;
  font-weight: bold;
  color: #e65306;
  width: 100%;
}
.title-TH-sales>ul>li>div>span:nth-child(2){
  padding-right: 10px;
  border-right: 1px #ccc dashed;
}
.title-TH-sales>ul>li>div>span:nth-child(3){
  padding-left: 10px;
}
.title-TH-sales>ul>li>div>span:last-child>strong{
  color: #e65306;
}
/* 右側商品 */
/* Top Buyer's Choice */
/* ----------------------------------- */
/* Hottest Items */

.title_nav{
  padding:10px 20px 25px 20px;
  background-color: #eee;
  font-size: 13px;
  border: 1px solid #ccc;
  border-top: 2px solid #aaa;
  border-bottom: 2px solid #ccc;
}
.title_nav>ul>li{
  float: left;
  padding: 10px;
  margin: 0 15px 10px 0;
}
.title_ul_li{
  border:2px solid transparent;
  background-color:rgb(248,248,248);
}
.title_nav_ul_li_hover{
  background-color: #fff;
  border: 2px solid #aaa;
  cursor: pointer;
}
.title_nav_bg{
  border: 2px solid #aaa;
  cursor: pointer;
  background: url(../imgs/seckill.png) no-repeat bottom right;
  background-color: #fff;
}
/* HI-list */
.HI_list>ul>li{
  margin-top: 20px;
  margin-right: -1px;
  padding:10px 25px;
  width: 349px;
  height: 514px;
  border: 1px solid #ccc;
  float: left;
}
.HI_list>ul>li>a{
  height: 350px;
  width: 350px;
  display: block;
  text-align: center;
  line-height: 638px;
}
.HI_list>ul>li>a>img{
  max-width: 350px;
  max-height: 350px;
  vertical-align: center;
}
.dates{
  height: 40px;
  background-color: #bbb;
  margin-top: -40px;
  line-height: 40px;
  padding: 0 25px;
  color:#fff;
  /* font-size: 18px; */
}
.dates>i{
  font-weight: bold;
  margin-right: 10px;
}
.dates>span{
  padding-left: 10px;
}
.HI_list>ul>li>div{
  margin-top: 5px;
  font-size: 14px;
}

.HI_list>ul>li>span>div{
  margin-top: 5px;
  font-size: 14px;
  float: left;
  color:#aaa;
  margin-right: 30px;
}
.HI_list>ul>li>span>div:last-child{
  padding-left: 25px;
  border-left: 1px dashed #aaa;
}
.money_bl{
  float:left;
}
.money_bl>span{
  font-size: 20px;
  color: #e65306;
  font-weight: 700;
}
.money_br{
  float:right;
}
.money_br>span{
  font-weight: 700;
  color: #e65306;
}
.HI_zk{
  position: relative;
}
.HI_zk_s{
  width: 57px;
  height: 57px;
  background:url(../imgs/seckill.png) no-repeat;
  position: absolute;
  top:-488px;
  right:-28px;
  font-size: 28px;
  padding-left: 3px;
  color:#fff;
}
/* Hottest Items */
.main-footer{
  margin: 20px 0;
  height: 50px;
  background-color: #eee;
  border: 1px solid #ccc;
  text-align: center;
  line-height: 50px;
  cursor:pointer;
}
