
/*ͷ��*/
.sign_top_nav{
    border-bottom: 1px solid #ccc;
    height: 90px;
    line-height: 90px;
}
.sign_top_nav_left{
    float:left;
    margin-top: 20px;
}
.sign_top_nav_right{
    float: right;
}
.sign_top_nav_right>a{
    display: block;
}
/*ͷ��*/
/*���岿��*/
.sign-up-mainContent{
    margin-top: 20px;
    border-bottom: 1px solid #ccc;
    font-size: 16px;
    padding-bottom: 30px;
}
/*�������*/
.mainContent-left{
    float: left;
    width: 700px;
}
.RNA{
    line-height:40px;
    border-bottom: 1px solid #ccc;
    text-indent: 10px;
}
.mainContent-left>ul{
    margin-top: 10px;
}
.mainContent-left>ul>li{
    margin-top: 20px;
    font-size: 12px;
    line-height: 20px;
    margin-left: 20px;
}
.mainContent-left>ul>li>input{
    height: 36px;
    border:1px solid #ccc;
    border-radius: 3px;
    font-size: 16px;
    text-indent: 10px;
    outline: none;
}
.mainContent-left>ul>li>input:hover{
    border-color: #aaa;
}
.left_names>input{
    width: 291px;
}
.zhanghao>input{
    width: 370px;
}
.mainContent-left>ul>li>select{
    height: 36px;
    border-radius: 3px;
}
.Country>select{
    min-width: 320px;
}
.mainContent-left>ul>li>span{
    color:red;
}
.mainContent-left>ul>li>ol>li{
    margin-left: 20px;
    list-style: disc;
}
.mainContent-left>ul>li>button{
    background-color: #005AB0;
    border: 0;
    color: #fff;
    padding: 8px 20px;
    font-size: 13px;
    border-radius: 5px;
    cursor: pointer;
}
/*�������*/
/*�Ҳ�����*/
.mainContent-right{
    float: right;
    font-size: 12px;
}
.mainContent-right>div{
    padding: 20px;
    width: 232px;
    border: 1px solid #ccc;
    margin-top: 20px;
}
.mainContent-right>div>button{
    width:100%;
    line-height: 34px;
    margin: 15px 0;
    background-color: #ff7300;
    border: 1px solid #eee;
    box-shadow: 1px 1px 1px #aaa;
}
.mainContent-right>div>button:hover{
    background-color: #ff9100;
}
.mainContent-right>div>button>a{
    display: block;
    color: #fff;
}
.mainContent-right>div>a{
    color: #9ABE14;
}
.helps>li{
    line-height: 40px;
    list-style: disc;
    margin-left:20px ;
}

/*�Ҳ�����*/
/*���岿��*/
/*ҳβsign-footer*/
.sign-footer{
    margin-top: 30px    ;
}
.sign-footer-c{
    text-align: center;
}
.sign-footer-c>ul>li{
    margin-bottom: 30px;
}
.sign-footer-c>ul>li>a{
    margin-right: 30px;
}
/*ҳβsign-footer*/
