.My_Orders{
    line-height: 40px;
    font-size: 18px;
    border-bottom: 1px solid #ccc;
    text-indent: 5px;
}
.Orders_bars>li{
    float: left;
    padding-right: 10px;
    margin-right: 10px;
    margin-top: 10px;
    border-right: 1px solid #ccc;
}
.Orders_bars>li>a{
    color: #ccc;
}
.Orders_bars>li:first-child>a{
    color: #000;
}
.Orders_inventory>ul{
    background-color: #ccc;
}